.select-madu {
  display: inline-block;
  width: 100%;
  background: #fff;
  position: relative;
  vertical-align: middle;

  .selected-option {
    position: relative;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
    height: 100%;

    .sel-inner {
      width: 100%;
      height: 100%;
      padding: 9px 12px;
      padding-right: 32px;
      color: inherit;

      .tag {
        padding: 5px 5px 5px 8px;
        background: #efefef;
        margin: 3px;
        display: inline-block;
        border-radius: 1px;
        word-break: break-all;

        .cl-i {
          margin-left: 4px;
          cursor: pointer;
          color: #999;
        }
      }
    }

    .search-input {
      outline: 0;
      border: none;
      margin: 5px 0px;
      padding: 0px 5px;
      min-width: 65px;
      max-width: 100%;
    }

    .status-ind {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      padding: 9px;
      width: 32px;
    }
  }
  
  .selected-option.placeholder {
    .sel-text {
      color: #979797;
    }
  }

}

.select-madu:not(.multiple) .selected-option, .select-madu .selected-option.placeholder {
  .sel-text {
    overflow: hidden;
    text-overflow: ellipsis;

    .search-input {
      margin: -2px 0;
      padding: 0 1px;
      max-width: 100%;
    }
  }
}

.select-madu.multiple {
  .selected-option:not(.placeholder) {
    .sel-inner.sel-text {
      padding: 3px 4px;
      padding-right: 32px;
      height: auto;
    }
  }
}

.select-madu:focus, .select-madu.focus, .select-madu.open {
  outline: 0;

  .selected-option {
    outline: 0;
    border-color: #339dff;
  }
}

.basic-input.has-error {
  .select-madu {
    >.selected-option {
      border-color: #dc3545;
    }
    .popper-drop {
      .list-search-options {
        border: 1px solid #dfdfdf;
      }
    }
  }
}