$base-color: #adadad;
$highlight-color: #339dff;
$disabled-text-color: #979797;
$disabled-text-dark-color: #777;

.select-madu {
  vertical-align: middle;
  cursor: pointer;
  border-color: rgba($base-color, 0.4);
  border-radius: 5px;

  &.disabled {
    pointer-events: none;
    background: rgba($base-color, 0.1);
    color: $disabled-text-dark-color;
  }

  &-inner {
    padding: 9px 12px;
    padding-right: 32px;
    color: inherit;

    &-tag {
      background: rgba($base-color, 0.2);
      display: inline-block;
      border-radius: 3px;
      word-break: break-all;
      border: 1px solid rgba($base-color, 0.4);
      margin: 0 3px;
      padding: 0 0 0 5px;
      cursor: default;

      span {
        vertical-align: middle;
      }

      button.select-madu-icon {
        padding: 5px 2px;
        border: 0;
        border-left: 1px solid rgba($base-color, 0.4);
        display: inline-block;
        outline: 0;
        cursor: pointer;
        background: transparent;

        &:hover {
          background: rgba($base-color, 0.3);
        }

        &:focus {
          background: rgba($base-color, 0.4);
        }
      }
    }

    input[type='search'].select-madu-input {
      min-height: 18px;
      line-height: inherit;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }
    }
  }

  &-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 11px;
  }

  &-arrow &-spinner {
    width: 18px;
    height: 18px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;

    .spinner-border {
      color: rgba($base-color, 0.8);
      position: relative;
      display: inline-block;
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      vertical-align: text-bottom;
      border: 0.15em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: select-madu-spinner-border 0.75s linear infinite;
      animation: select-madu-spinner-border 0.75s linear infinite;
    }
  }

  &-arrow.loading {
    padding: 9px;
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;

    >svg {
      stroke: currentColor;
      fill: none;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  &-arrow &-icon {
    transform: translateY(-50%);
    top: 50%;
    position: relative;
  }

  &.open &-arrow &-icon {
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
  }

  &.animate &-arrow &-icon {
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
  }

  &.placeholder &-inner {
    color: $disabled-text-color;
  }

  &.multiple:not(.placeholder) &-inner {
    padding: 5px 4px;
    height: auto;
  }

  &:focus,
  &.focus {
    outline: 0;
    border-color: $highlight-color;
  }

  &.open.search &-inner {
    cursor: text;
  }

  &-dropdown &-options {
    border-color: rgba($base-color, 0.4);
    border-radius: 5px;

    ul {
      li {
        padding: 9px 12px;
      }

      li.o {
        cursor: pointer;
      }

      li.o.selected {
        background: rgba($base-color, 0.2);
        color: inherit;
      }

      li.o:hover,
      li.o.hovered {
        background: $highlight-color;
        color: #fff;
      }

      li.o-h {
        padding: 0;

        strong {
          padding: 9px 12px;
        }
      }

      ul + li.o-h {
        margin-top: 5px;
      }

      >ul {
        li {
          padding: 9px 18px;
        }
      }

      li.disabled {
        pointer-events: none;
        background: rgba($base-color, 0.1);
        color: $disabled-text-dark-color;
      }
    }
  }

  &-dropdown &-options &-sub-text {
    color: $disabled-text-color;
  }
}

@keyframes select-madu-spinner-border {
  to { transform: rotate(360deg); }
}
